# Copy to .env for development or production
# Never commit your .env files to git!

# Database
DATABASE_URL="postgresql://user:password@localhost:1234/database"

# Server
PORT=3000

# Uploads
UPLOAD_DIR=uploads
UPLOAD_MAX_SIZE=5 # size in MB

#JSON Web Token
JWT_SECRET="your-super-secret-key"
JWT_EXPIRES_IN="24h"

#Advert queries
ADVERT_MIN_PAGE=1
ADVERT_MAX_LIMIT=20
ADVERT_MIN_PRICE=1
ADVERT_MAX_PRICE=9999.99
ADVERT_MAX_CHARS_TITLE=50
ADVERT_MAX_CHARS_DESCRIPTION=500